.App {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Mise en forme du Header */

.header-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dcf7dc;
  margin-top: 1em;
}

.header-container img {
  width: 10em;
}

.header-container h1 {
  font-family: hkgrotesk, Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}

/* Mise en forme du Form */

.form-container {
  border: #dddddd solid 1px;
  height: 35em;
  width: 25em;
  border-radius: 0.7em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-top: 10%;
  padding: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  font-family: hkgrotesk, Arial, Helvetica, sans-serif;
  width: 70%;
  height: 80px;
  margin-bottom: 5%;
  background-color: #e7ebeb;
  border-style: none;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 40px;
}

input::placeholder {
  font-size: 0.6em;
  display: flex;
  align-items: center;
}

.input-container {
  display: flex;
}

.input-container span {
  width: 20%;
  height: 80px;
  font-size: 1em;
  background-color: #e7ebeb;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.modal {
  border: #dddddd solid 1px;
  height: 25em;
  width: 35em;
  border-radius: 0.7em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-top: 10%;
  margin-left: 5%;
  padding: 2em;
}

.modal-hidden {
  display: none;
}
