.App {
  overflow: hidden;
  margin: 0 auto;
}

.app-container {
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

/* Sections masquées */
.hidden {
  display: none;
}

.input-container-mobile {
  display: none;
}

.modal-responsive {
  display: none;
}

/* Mise en forme du Header */

.header-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dcf7dc;
  margin-top: 1em;
}

.header-container img {
  width: 10em;
}

.header-container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  text-align: center;
}

/* Mise en forme du Form */

.form-container {
  border: #dddddd solid 1px;
  flex: 1;
  border-radius: 0.7em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 2em;
  margin-right: 1em;
  background-color: white;
}

.form input {
  font-family: "Roboto", sans-serif;
  width: 70%;
  height: 80px;
  margin-bottom: 5%;
  background-color: #e7ebeb;
  border-style: none;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  padding-bottom: 3%;
  box-sizing: border-box;
  font-size: 30px;
}

input::placeholder {
  font-size: 0.6em;
  display: flex;
  align-items: center;
}

.input-container {
  display: flex;
}

.input-container span {
  width: 20%;
  height: 80px;
  font-size: 1em;
  background-color: #e7ebeb;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.form-and-modal {
  display: flex;
  margin-left: 5%;
}

/* Mise en page de la modal */

.modals-container {
  width: 50em;
  flex: 1;
}
.modal {
  border: #dddddd solid 1px;
  border-radius: 0.7em;
  /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04); */
  padding: 2em;
  position: relative;
  background-color: white;
}

.modal-hidden {
  display: none;
}

.modal-close-button {
  position: relative;
  left: 96%;
  top: 0;
  background-color: transparent;
  border-style: none;
}

.popular {
  font-family: "Roboto", sans-serif;
}

.popular h2 {
  font-size: 30px;
  font-weight: bold;
  color: #20e5ab;
}

/* Ligne de recherche */

.search-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2%;
}

.search-line:hover {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2%;
  border: turquoise 3px solid;
  cursor: pointer;
}

/* Date Picker */
.calendar-container {
  font-family: "Roboto", sans-serif;
  width: 90%;
  background-color: #e7ebeb;
  border-style: none;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
}

/* react-datepicker__input-container est une class qui fait partie du package react-date-picker  */
.react-datepicker__input-container {
  height: 80%;
  width: 80%;
  padding-top: 7%;
}

.react-datepicker__input-container input {
  text-align: start;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.date-container {
  display: flex;
}

.datePicker-depart {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 5%;
  font-size: 0.8em;
}
.border {
  width: 100%;
  border-bottom: #b5e0d3 3px solid;
}
.close-picker-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-picker-button {
  border-style: none;
  background-color: transparent;
}
/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive */

@media only screen and (max-width: 1004px) {
  .modals-container {
    display: none;
  }

  .modal-responsive {
    display: flex;
    width: 75%;
    border: #dddddd solid 1px;
    border-radius: 0.7em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 2em;
    position: relative;
    background-color: white;
    margin-bottom: 2%;
  }

  .modal-resp-close-button {
    position: relative;
    background-color: transparent;
    border-style: none;
  }

  .form-container {
    width: 100%;
  }
  footer {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .App {
    width: 100%;
    height: 100vh;

    margin: 0 auto;
  }
  .app-container {
    height: 70%;
    display: flex;
    padding-right: 8%;
    padding-left: 5%;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .modal-responsive {
    display: flex;
    width: 90vw;
    height: 100vh;
    border: #dddddd solid 1px;
    border-radius: 0.7em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 2em;
    position: relative;
    background-color: white;
  }

  .depart-arrive-p {
    font-size: 80%;
    padding-left: 5%;
    padding-top: 15%;
  }
  .react-datepicker__input-container {
    height: 80%;
    width: 80%;
    padding-top: 3%;
  }

  .react-datepicker__input-container input {
    text-align: start;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

  footer {
    display: none;
  }
}
