.App {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.app-container {
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.hidden {
  display: none;
}

.input-container-mobile {
  display: none;
}

.modal-responsive {
  display: none;
}

/* Mise en forme du Header */

.header-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dcf7dc;
  margin-top: 1em;
}

.header-container img {
  width: 10em;
}

.header-container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  text-align: center;
}

/* Mise en forme du Form */

.form-container {
  border: #dddddd solid 1px;
  /* width: 50em; */
  flex: 1;
  border-radius: 0.7em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 2em;
  margin-right: 1em;
  background-color: white;
}

.form input {
  font-family: "Roboto", sans-serif;
  width: 70%;
  height: 80px;
  margin-bottom: 5%;
  background-color: #e7ebeb;
  border-style: none;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
}

input::placeholder {
  font-size: 0.6em;
  display: flex;
  align-items: center;
}

.input-container {
  display: flex;
}

.input-container span {
  width: 20%;
  height: 80px;
  font-size: 1em;
  background-color: #e7ebeb;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.form-and-modal {
  display: flex;
  margin-left: 5%;
}

/* Mise en page de la modal */

.modals-container {
  width: 50em;
  flex: 1;
}
.modal {
  border: #dddddd solid 1px;
  border-radius: 0.7em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 2em;
  position: relative;
  background-color: white;
}

.modal-hidden {
  display: none;
}

.modal-close-button {
  position: relative;
  left: 96%;
  top: 0;
  background-color: transparent;
  border-style: none;
}

.popular {
  font-family: "Roboto", sans-serif;
}

.popular h2 {
  font-size: 30px;
  font-weight: bold;
  color: #20e5ab;
}

/* Ligne de recherche */

.search-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2%;
}

.search-line:hover {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2%;
  border: turquoise 3px solid;
  cursor: pointer;
}

/* Date Picker */
.calendar-container {
  font-family: "Roboto", sans-serif;
  width: 90%;
  background-color: #e7ebeb;
  border-style: none;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
}

.date-container {
  display: flex;
}

.datePicker-depart {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 5%;
  font-size: 0.8em;
}
.border {
  width: 100%;
  height: 1px;
  border-bottom: #b5e0d3 1px solid;
}
/* Responsive */

/* @media only screen and (max-width: 817px) { */
@media only screen and (max-width: 1004px) {
  .modals-container {
    display: none;
  }

  .modal-responsive {
    display: flex;
    width: 75%;
    border: #dddddd solid 1px;
    border-radius: 0.7em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 2em;
    position: relative;
    background-color: white;
    margin-bottom: 2%;
  }

  .modal-resp-close-button {
    position: relative;
    background-color: transparent;
    border-style: none;
  }
  /* .search-line {
    width: 290%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 2%;
  } */
  .form-container {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .app-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding-right: 20%;
  }

  .form-container {
    border: #dddddd solid 1px;
    height: 60%;
    width: 60%;
    border-radius: 0.7em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin-top: 5%;
    padding: 2em;
    background-color: white;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modals-container {
    height: 30em;
    width: 75%;
    padding: 2em;
    margin-left: 0;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 80px;
    margin-bottom: 5%;
    background-color: #e7ebeb;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
  }
  .input-container {
    display: none;
  }
  .input-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
